.b-container {
    height: 50vh;
}

.b-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.b-col {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000001f;
    width: 250px;
    height: 100px;
    margin: 15px 0;
}

.b-col svg {
    font-size: 25px;
    color: #3bd6dcf3;
}

.b-col span {
    margin-left: 10px;
    font-size: 25px;
}