.message-container {
    min-height: 100vh;
    padding-top: 30px;
}

.message {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #3bd6dcf3;
}

.messageLoading {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
}