.n-container {
    height: 210px;
    padding: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.n-email {
    letter-spacing: 1.5px;
    margin-right: 20px;
    margin-left: 25px;
}

.n-row:first-child {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 0;
}

.n-row:first-child .n-col a {
   color: #001e28;
}

.n-row:first-child .n-col a:hover {
    text-decoration: underline;
}

.socials img {
    width: 20px;
    height: auto;
    margin: 0 10px;
    transition: all 0.5s;
}

.socials img:hover {
    transform: scale(1.3);
}

.n-row:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.logo {
    width: 250px;
    height: auto;
    padding: 0 20px;
}

.icons a {
    color: #001e28;
    font-size: 18px;
    transition: all 0.5s;
}

.icons span {
    position:relative;
    margin: 0 15px;
    text-transform: uppercase;
    margin-right: 25px;
}

.icons span .totalItems {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: -35px;
    background-color: #3bd6dcf3;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.items {
    list-style-type: none;
    background: linear-gradient(45deg, #001e28, rgb(53, 53, 53));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.list {
    margin-right: 20px;
}

.list a {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.list a:hover {
    color: #3bd6dcf3;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.list a.active{
    color:#3bd6dcf3;
}

@media screen and (max-width: 489px) {
    .n-row:first-child {
        font-size: 10px;
    }
    
    .socials img {
        width: 15px;
        margin: 0 5px;
    }

    .logo {
        width: 130px;
    }

    .icons a {
        font-size: 12px;
    }

    .icons span {
        margin: 0 500px;
    }

    .icons span .totalItems {
        top: -10px;
        right: -20px;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        font-size: 10px;
    }

    .list a {
        font-size: 16px;
    }

    .list:last-child {
        margin-right: unset;
    }
}